@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hover-button {
    --b: 3px;
    --s: .45em;
    --color: rgb(239, 246, 255);
    padding: 2rem 4rem;
    color: var(--color);
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 1.5rem;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

  .hover-button:hover,
  .hover-button:focus-visible {
    --_p: 0px;
    outline-color: rgb(45, 89, 146);
    outline-offset: .05em;
    color: rgb(45, 89, 146);
  }

  .hover-button:active {
    background: var(--color);
    color: #fff;
  }